/* * {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
} */

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 22px;
    line-height: 26px;
}


a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 58px;
}

section {
    padding: 70px 0;
}


.header {
    background-image: url(../images/header/header-bg.jpg); 
    background-size: 100%;
    background-size: cover;
    min-height: 100vh;
}

/* Global */

.header-text1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    background: linear-gradient(135deg, #FFA8A8 0%, #FCFF00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-text1 {
    font-weight: 500;
    color: #FFF;
}

.btn1 {
    cursor: pointer;
    background: linear-gradient(94.18deg, #FEDD96 -2.67%, #DD943E 117.52%);
    border-radius: 20px;
    border: 0;
    color: #fff;
    padding: 20px 40px;
    font-size: 18px;
    text-align: center;
    color: #000;
    transition: background 0.5s;
}

.btn1:hover {
    background: #FEDD96;
}

/* ------- NAVBAR -------- */

.navbar {
    padding: 20px 0px;
}

.nav-items, .nav-categories {
    padding: 0;
    list-style-type: none;
}

.nav-items li, .nav-categories li {
    display: inline;
}

.nav-upper{
    padding: 20px 0;
}

.navbar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


.nav-item {
    margin-right: 20px;
}

.nav-item .nav-link{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #FFF;
    padding-right: 20px;
    transition: color 0.1s ease;
}

.nav-item .nav-link:hover {
    color: #FEDD96;
}

.nav-item .nav-active {
    color: #000;
    font-weight: 500;
}

.nav-mobile {
    display: none;
}

.nav-mobile-icon {
    color: #fff;
    background: linear-gradient(135deg, #FFA8A8 0%, #FCFF00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}


/* header-info */
.header-info {
    height: 68vh;
    display: flex;
    align-items: center;
    background-image: url("../images/header/manSaly.svg");
    background-position: right 250px center;
    background-size: 25%;
    background-repeat: no-repeat;
}

.header-text {
    margin-top: 30px;
    max-width: 670px;
    background: rgba(0, 0, 0, 0.27);
    backdrop-filter: blur(100px);
    -moz-filter: blur(100px); 
    border-radius: 10px;
    padding: 10px 20px;
}

.header-btn {
    padding-top: 50px;
}

.p-header {
    font-size: 20px;
}

.visited-countries {
    background: #000;
    color: #FFFFFF;
}

.visited-countries-h1 {
    font-size: 48px;
    max-width: 700px;
    line-height: 58px;
    font-weight: 600;
}

.line {
    max-width: 192px;
    width: 100%;
    height: 4px;
    left: 160px;
    top: 1045px;
    background: linear-gradient(180deg, #E3EEFF 0%, #ABC3FF 100%);
    border-radius: 39px;
}

.visited-countries-list {
    color: #fff;
    padding-top: 45px;
    padding-bottom: 15px;
}

.visited-country-el {
    display: flex;
    align-items: center;
}

.visited-country-el:not(:last-child) {
    margin-bottom: 10px;
}


.marker {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-right: 20px;
}

.marker-blue {
    background: #80A3FF;
}

.marker-aqua {
    background: #A4FFEF;
}

.marker-red {
    background: #DB5B5B;
}

.marker-green {
    background: #63F060;
}

.marker-purple {
    background: #BA51DF;
}

.marker-yellow {
    background: #E8D52A;
}

.marker-lightyellow {
    background: #FFE0A4;
}

.visited-countries-img {
    margin-top: -150px;
}

.visited-countries-img img {
    width: 100%;
}

@media (max-width: 1650px) { 
    .header-info {
        background-position: right 150px center;
    }
 }

 @media (max-width: 1500px) { 
    .header-info {
        background-position: right 90px center;
    }
    .visited-countries-img {
        margin-top: -100px;
    }
 }

 @media (max-width: 1200px) { 
    .header-info {
        background-position: right 60px center;
    }
    .visited-countries-img {
        margin-top: -70px;
    }
 }

 @media (max-width: 1100px) { 
    .header-info {
        background-position: right 20px center;
        background-size: 28%;
    }
 }

 
 @media (max-width: 1050px) { 
    .header-info {
        background-position: right 10px center;
        background-size: 28%;
    }
    .visited-countries-img {
        margin-top: 0px;
    }
 }

 @media (max-width: 991px) { 
    .header-info {
        background-position: right 10px center;
        background-size: 32%;
    }
    .header-text {
        max-width: 500px;
    }
    .nav-mobile {
        display: inline-block;
    }
    .nav-items {
        display: none;
    }
 }

 @media (max-width: 768px) { 
    .header-info {
        background-position: right 40px top 70px;
        background-size: 22%;
    }
    .header-text {
        max-width: 500px;
    }
    .header-info {
        height: 80vh;
    }
    .visited-countries-img {
        display: flex;
        align-items: center;
        margin-top: -100px;
    }
 }

 @media (max-width: 672px) { 
    .header-info {
        background-position: right 10px top 80px;
        background-size: 22%;
    }
    .header-text {
        max-width: 500px;
        font-size: 10px;
    }
    .header-text1 {
        font-size: 40px;
        line-height: 50px;
    }
    .p-header {
        font-size: 18px;
        line-height: normal;
    }
 }

 @media (max-width: 576px) { 
    .header-info {
        background: none;
    }
    .header-text1 {
        font-size: 30px;
        line-height: 40px;
    }
    .visited-countries-img {
        display: none;
    }
 }